.new-project-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.new-project-text10 {
  display: inline-block;
}
 
.new-project-text11 {
  display: inline-block;
}
 
.new-project-text12 {
  display: inline-block;
}
 
.new-project-text13 {
  display: inline-block;
}
 
.new-project-text14 {
  display: inline-block;
}
 
.new-project-text15 {
  display: inline-block;
}
 
.new-project-text16 {
  display: inline-block;
}
 
.new-project-text17 {
  display: inline-block;
}
 
.new-project-text18 {
  display: inline-block;
}
 
.new-project-text19 {
  display: inline-block;
}
 
.new-project-text20 {
  display: inline-block;
}
