.modal-page-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  max-width: 540px;
  min-width: 450px;
  align-items: flex-start;
  flex-direction: column;
}
 
.modal-page-modalcomponentmaster {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  max-width: 540px;
  box-shadow: 0px 4px 18px 2px rgba(0, 0, 0, 0.07000000029802322) ;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.modal-page-modal-header {
  gap: 10px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(226, 232, 240, 1);
  border-style: solid;
  border-width: 0 0 1px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}
 
.modal-page-text10 {
  color: rgba(15, 23, 43, 1);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Merriweather;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.modal-page-vector {
  width: 12px;
  height: 12px;
}
 
.modal-page-frame3 {
  gap: 8px;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.modal-page-frame80 {
  gap: 40px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.modal-page-frame54 {
  gap: 24px;
  width: 492px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.modal-page-input-group {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.modal-page-text11 {
  color: rgba(15, 23, 42, 1);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Merriweather;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.modal-page-input {
  gap: 8px;
  color: rgba(2, 6, 24, 1);
  display: flex;
  padding: 8px 12px;
  font-size: 14px;
  align-self: stretch;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Nunito Sans;
  font-weight: 400;
  border-color: rgba(226, 232, 240, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
 
.modal-page-checkboxlabel1 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.modal-page-component11 {
  width: 24px;
  height: 24px;
}
 
.modal-page-text12 {
  color: rgba(98, 116, 142, 1);
  height: auto;
  flex-grow: 1;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Merriweather;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.modal-page-textarea-group1 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-end;
  flex-direction: column;
}
 
.modal-page-frame401 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.modal-page-text13 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Merriweather;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.modal-page-text14 {
  color: rgba(98, 116, 142, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Merriweather;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.modal-page-frame811 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-end;
  flex-direction: column;
}
 
.modal-page-textarea1 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(226, 232, 240, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
 
.modal-page-text15 {
  color: rgba(144, 161, 185, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.modal-page-resizer1 {
  top: 69px;
  left: 328.9287109375px;
  width: 8px;
  height: 8.242640495300293px;
  display: flex;
  z-index: 1;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.modal-page-line1 {
  top: 0px;
  left: 159.07107543945312px;
  width: 10px;
  height: 1px;
  position: absolute;
}
 
.modal-page-line2 {
  top: 4px;
  left: 160.07107543945312px;
  width: 6px;
  height: 1px;
  position: absolute;
}
 
.modal-page-textarea2 {
  gap: 8px;
  height: 93px;
  display: flex;
  padding: 8px 12px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(226, 232, 240, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
 
.modal-page-frame821 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.modal-page-frame76 {
  gap: 6px;
  display: flex;
  padding: 8px;
  align-items: center;
  border-color: rgba(142, 81, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
 
.modal-page-tablericonsparkles1 {
  width: 16px;
  height: 17px;
}
 
.modal-page-text16 {
  color: rgba(142, 81, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.modal-page-frame77 {
  gap: 6px;
  display: flex;
  padding: 8px;
  align-items: center;
  border-color: rgba(142, 81, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
 
.modal-page-tablericonsparkles2 {
  width: 16px;
  height: 17px;
}
 
.modal-page-text17 {
  color: rgba(142, 81, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.modal-page-textarea-group2 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-end;
  flex-direction: column;
}
 
.modal-page-frame402 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.modal-page-text18 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Merriweather;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.modal-page-tablericonclipboard1 {
  width: 24px;
  height: 24px;
}
 
.modal-page-frame812 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-end;
  flex-direction: column;
}
 
.modal-page-textarea3 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(226, 232, 240, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
 
.modal-page-text19 {
  color: rgba(144, 161, 185, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.modal-page-resizer2 {
  top: 69px;
  left: 328.9287109375px;
  width: 8px;
  height: 8.242640495300293px;
  display: flex;
  z-index: 1;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.modal-page-line3 {
  top: 0px;
  left: 159.07107543945312px;
  width: 10px;
  height: 1px;
  position: absolute;
}
 
.modal-page-line4 {
  top: 4px;
  left: 160.07107543945312px;
  width: 6px;
  height: 1px;
  position: absolute;
}
 
.modal-page-frame822 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-end;
}
 
.modal-page-tablericonclipboard2 {
  width: 24px;
  height: 24px;
}
 
.modal-page-checkboxlabel2 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.modal-page-component12 {
  width: 24px;
  height: 24px;
}
 
.modal-page-text20 {
  color: rgba(98, 116, 142, 1);
  height: auto;
  flex-grow: 1;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Merriweather;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
@media(max-width: 479px) {
  .modal-page-frame54 {
    width: auto;
  }
}
